<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>yat-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>yat-shared-i386.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>yat-shared-x86_64.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>yat-static-i386.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>yat-static-x86_64.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>yat-x86_64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37438E70139A06FD00FFE333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37438E7A139A072000FFE333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37438E84139A073200FFE333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37438E8E139A077500FFE333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D9FC8113995D1D007B503A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F7D105139A0BE400E2A86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F7D116139A11C600E2A86A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
